.section1 {
    width: 70vw;
    height: auto;
    margin: 0 auto;
    padding: 4.5vw;

}

.section1 img {
    height: 10vw;
    margin-left: 0;
    border-radius: 50%;
}

.section1 h1 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--h1-color);
    height: auto;

}

.section1-conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.espaco {
    align-items: center;
    height: 4rem;
}

.espaco-p {
    height: 1.5rem;
}

.hr{
    margin-top: 2vw;
    width: 15.2vw;
    height: 1px;
    top: 492px;
    left: 240px;
    gap: 10px;
    opacity: 0px;
    background-color: var(--h1-color);
}

.conteudo-p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

.conteudo-p span {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.84px;
    text-align: left;
    color: var(--h1-color);

}

.avaliable {
    width: 32vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.avaliable-conteudo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


.avaliable-conteudo img{
    width: 1.6vw;
    height: 1.16vw;
    padding: 0.25px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
}

.avaliable-conteudo h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}

/* css do DarkMode */
.section1.dark-mode {
    background-color: var(--color-dark);
    color: #fff;
  }
  
  .section1.dark-mode .conteudo-p span {
    color: white;
  }
  
  .section1.dark-mode .iconDark {
    filter: invert(1) grayscale(1);
  }

@media screen and (max-width:768px){
   .section1-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
   }
   .section1 img {
    width: 100px;
    height: 90px;
}
.section1 h1{
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    padding-top: 20px;
}
.section1 p{
    font-family: 'Be Vietnam Pro';
    font-size: 17px;
    font-weight: 400;
    line-height: 24.84px;
    text-align: left;
    height: auto;

}
.section1 .hr{
    width: 192px;
    height: 1px;
    top: 396px;
    left: 91px;
    gap: 0px;
    opacity: 0px;

}
.espaco{
    display: flex;
    align-items: center;
}
.avaliable-conteudo{
    width: 283px;
    height: 72px;
    top: 1006px;
    left: 46px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}
.avaliable-conteudo h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    width: 382px;

}
.avaliable-conteudo img{
    width: 16px;
    height: 16px;

}
}
  